<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gretel"
    android:versionCode="1"
    android:versionName="1.0"
    android:debuggable="true" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

	<uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
	
	<uses-feature android:name="android.hardware.camera" android:required="false"/>
	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
	<uses-feature android:name="android.hardware.camera.front" android:required="false"/>
	<uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>
	
	<supports-screens android:resizeable="true"
	              android:smallScreens="true"
	              android:normalScreens="true"
	              android:largeScreens="true"
	              android:anyDensity="true" />
	
    <application
        android:allowBackup="true"
	    android:icon="@drawable/ic_launcher"
	    android:label="@string/app_name">
        <activity
            android:name="com.gretel.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation" 
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gretel.activities.PaintActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.gretel.activities.MainActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation" 
			android:theme="@style/Theme.FullScreen" >
            <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.gretel.MainActivity" />            
        </activity>
        
        <service android:name="com.gretel.services.controllers.JsonPostRequestIntentService" >
        </service>        
        <service android:name="com.gretel.services.controllers.MultipartPostRequestIntentService" >
        </service>
        <service android:name="com.gretel.services.controllers.JsonGetRequestIntentService" >
        </service>
        JsonGetRequestIntentService
    </application>
</manifest>